@import url('https://fonts.cdnfonts.com/css/coolvetica');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Onest';
    --lightBG: #FBFBFB;
    --darkBG: #162234;
    --grey: #858990;
    --accent: #2F80ED;
    --grey2: #EBEBEB;
    --dark-accent: #555A65;
}

body {
    background: var(--lightBG);
}

h1 {
    font-family: 'Coolvetica';
}

.active {
    background: var(--accent);
    color: white;
}